body {
    padding: 2em;
    background-color: honeydew;

    & section#DatosUsuario {
        margin-top: 4em;
        display: flex;
        justify-content: space-between;
        align-items: start;
        min-height: 10vh;
        padding: 1em;
    }

    & section {
        min-height: 20vh;

        .cartas {
            .card {
                & img {
                    height: 25vh;
                }

                .card-body {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                }
            }
        }
    }

    & section#Tecnologias {
        & div.circulo {
            display: flex;
            flex-direction: column;
            align-items: center;

            & img {
                width: 3em;
                height: 3em;
                border-radius: 50%;
            }
        }
    }

    &footer {
        min-height: 10vh;
    }
}

#infoProyectos {
    padding: 1em 0;
    min-height: 0;

    & article {
        display: none;
        justify-content: space-evenly;
        align-content: baseline;
    }

    & div {
        display: flex;
        justify-content: space-evenly;
        align-content: baseline;
    }
}

#infoProyectos>article {
    flex-wrap: wrap;

    >div {
        display: flex;
        flex-direction: column;
        background: white;
        border: 1px solid;
        padding: 1em;
        border-radius: 2em;

        & p {
            margin: 0;
            padding: 0;
            font-weight: bolder;
        }

        & div {
            display: flex;

            & div, & a {
                font-size: .6em;
                align-items: baseline;
                border-radius: 2em;
                cursor: pointer;
                border: solid 1px;
                padding: 0 .4em;
                text-decoration: none;
                color: black;
            }

            & div.version {
                background-color: violet;
                border-color: purple;
            }

            & div.verInfo {
                background-color: greenyellow;
                border-color: green;
            }

            & .probar {
                background-color: aquamarine;
                border-color: blue;
            }
        }
    }
}

.tabla {
    background-color: cornsilk;
    padding: 0;

    &>div {
        border: 1px solid;

        &>p:first-child {
            background-color: white;
            border: solid 1px;
        }
    }
}